<div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight">
        <h2>Home</h2>
    </div>
    <div class="p-2 bd-highlight">
        <%= link_to "New" , new_keyword_path, class: "btn btn-success" %>
    </div>
</div>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Word</th>
                <th>Times/m</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody id="mytable">
            <% @keywords.each_with_index do |keyword, index| %>
                <tr>
                    <th>
                        <%= index + 1 %>
                    </th>
                    <th>
                        <%= keyword.word %>
                    </th>
                    <th>
                        <%= keyword.times %>
                    </th>
                    <th>
                        <%= link_to "Detail" , keyword %>
                    </th>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
