<div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight">
        <h2>Home</h2>
    </div>
    <div class="p-2 bd-highlight">
        <!-- <button type="button" class="btn btn-secondary" onclick="showUserCreateBox()">Create</button> -->
        <%= link_to "New" , new_keyword_path, class: "btn btn-success" %>
    </div>
</div>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Word</th>
                <th>Times/m</th>
                <!-- <th>Created Date</th>
                <th>Updated Date</th> -->
                <th>Status</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody id="mytable">
            <% @keywords.each do |keyword| %>
                <tr>
                    <th>
                        <%= keyword.id %>
                    </th>
                    <th>
                        <%= keyword.word %>
                    </th>
                    <th>
                        <%= keyword.times %>
                    </th>
                    <!-- <th><%= keyword.created_at %></th>
                    <th><%= keyword.updated_at %></th> -->
                    <th>Enabled</th>
                    <th>
                        <%= link_to "Detail" , keyword %>
                    </th>
                    <!-- <th><a href="">Edit</a></th> -->
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
